body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: white;
  font-family: 'Open Sans' !important;
  font-weight: 450 !important;
  font-size: 14px !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
